<div id="cont00" >

  <div id="contL0">
    <h3>
      Affichage d'un graphique de la production mondiale par pays et par année

      Initinéraire technique de la production de canne à sucre

      Actualités sur les activités du monde du sucre (le Ministère, la CAPS, les Industriels...
      </h3>
  </div>

  <div id="contR0">

    <div id="contR1">
      Zone pour information sur la consommation du sucre à Abidjan et dans quelques regions
    </div>

    <div id="contR2">
      Zone pour affichage de Vidéo ou Photo  en boucle des usines de transformation de la canne.
    </div>

  </div>


</div>