<% @page_title= 'Show Subject' %>

<!--%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %-->
<%= link_to("<< Back to List", root_path) %>

<div>
  <!--h2>Show Subject</h2-->



  <!--script type="text/javascript" charset="utf-8">
      $(function () {
          new Highcharts.Chart({
              chart: { renderTo: 'orders_chart' },
              title: { text: 'Orders by Day' },
              xAxis: { type: 'datetime' },
              yAxis: {
                  title: { text: 'Dollars'}
              },
              series: [{
                  data: [1, 2, 5, 7, 3]
              }]
          });
      });
  </script-->






  <%= high_chart('my_combine_div', @chart) %>


  <table summary="Subject detail view">

  </table>

</div>
